<%- include('../../includes/head.ejs') %>
<link rel="stylesheet" href="css/loginForm.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/" method="POST">
                <input type="text" placeholder="Użytkownik" name="loginName" />
                <input type="password" placeholder="Hasło" name="loginPassword" />
                <button>Zaloguj</button>
            </form>
        </div>
    </div>
</body>

</html>