<%- include('../../includes/head') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('../../includes/adminNavigation') %>
    <main>
        <div class="form-container">
            <form class="machine-form" action="<%= editing ? '/admin/editUser' : '/admin/addUser' %>" method="POST">
                <div class="form-control">
                    <label for="userName"><% if(editing){ %> Podaj nową nazwę użytkownika <% }else{ %> Podaj nazwę nowego użytkownika <% } %></label>
                    <input type="text" name="userName" id="userName" value="<%= editing ? user.name : '' %>">
                </div>
                <div class="form-control">
                    <label for="password"><% if(editing){ %> Podaj nowe hasło (pozostaw puste aby nie zmieniać) <% }else{ %>Utwórz hasło <% } %></label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="form-control">
                    <label for="role">Wybierz rolę</label>
                    <select name="role" id="role">
                        <option value="regularUser">Użytkownik</option>
                        <option value="adminUser">Administrator</option>
                    </select>
                </div>
                <br>
                <button class="btn" type="submit"><% if(editing){ %> Aktualizuj użytkownika <% }else{ %> Dodaj użytkownika <% } %></button>
            </form>
            <br>
        </div>
    </main>
</body>

</html>