<%- include('../../includes/head') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('../../includes/adminNavigation') %>
    <main>
        <div class="form-container">
            <form class="machine-form" action="/admin/<% if(!editing){ %>addMachine<% } else { %>editMachine<% } %>" method="POST">
                <div class="form-control">
                    <label for="name">Nazwa maszyny</label>
                    <input type="text" name="name" id="name" value="<% if(editing){ %><%= machine.name %><% } %>">
                </div>
                <br>
                <button class="btn" type="submit">Dodaj użytkownika</button>
            </form>
            <br>
        </div>
    </main>
</body>

</html>