<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div style="text-align: center">
        <h1>Brak takiego miejsca lub fragment aplikacji w budowie!</h1>
        <img src="/imgs/budowa.jpg" alt="">
    </div>
</body>

</html>