.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.machine_item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.machine_name {
    font-size: 1.2rem;
    text-align: center;
}

.machine_param{
    font-size: 0.9rem;
    padding: 0 10px;
    font-weight: bold;
}

.machine_param.green{
    color: green;
    font-size: 0.9rem;
    padding: 0 10px;
}

.machine_param.red{
    color: red;
    font-size: 0.9rem;
    padding: 0 10px;
}
