<%- include('../../includes/head') %>
</head>
<body>
    <%- include('../../includes/navigation') %>
    <div class="handlingsToChoiceContainer">
        
    </div>
<%- include('../../includes/end') %>